/* notification badge */
.notification {
    color: white;
    text-decoration: none;
    padding: 0 10px;
    position: relative;
    display: inline-block;
    border-radius: 2px;
}
.notification .badge {
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 5px 10px;
    border-radius: 50%;
    background-color: red;
    color: white;
}
/* end notification badge */

/* product order */
.container.wrapper {
    color: #000;

    & button {
        margin-top: 20px;
        margin-bottom: 50px;
    }

    & .product_wrapper {
        display: flex;
        justify-content: start;
        align-items: center;
        margin-bottom: 40px;
        padding: 10px 10px;
        background-color: #3023;

        & .input-type {
            & img {
                width: 200px;
                height: 200px;
                object-fit: fit;
            }

            & img:hover {
                cursor: pointer;
                animation: scale 200ms ease-in-out forwards;
            }

            & #checkbox {
                margin-left: 20px;
                margin-right: 50px;
            }
        }

        & .type-description {
            display: flex;
            flex-direction: column;
            margin-left: clamp(20px, 4vw, 50px);
            font-size: clamp(18px, 2vw, 25px);
        }

        & .type-action {
            margin-left: auto;
            margin-top: 50px;

            & i {
                font-size: 25px;
            }
        }
    }
}
@keyframes scale {
    to {
        transform: scale(1.2);
    }
}
/* end product order */
